{% extends 'base.html' %}
{% load cart %}
{% load custom %}
{% block title %}PlaceOrder{% endblock title %}
{% block body %}

<div class="border rounded-lg container mt-4">
    <div class="">
        <table class="table">
       <h3>Customer Name : {{customer_name}}</h3> 
            <thead>
                <tr>
                    <th>srno</th>
                    <th>image</th>
                    <th>name</th>
                    <th>qty</th>
                    <th>price</th>
                    <th>total</th>
                    <th>date</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order  in order %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td scope="row"><img class="rounded-circle" style="height: 60px; width:60px"  src="{{order.product.image.url}}" alt=""></td>
                        <td>{{order.product.name}}</td>
                        <td>{{order.qty}}</td>
                        <td>{{order.price|currency}}</td>
                        <td>{{order.price|multiply:order.qty|currency}}</td>
                        <td>{{order.date}}</td>
                        {% if order.status %}
                        <td><small class="badge badge-success">delivered</small></td>
                        {% else %}
                        <td><small class="badge badge-warning">pending</small></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
            
        </table>
       
    </div>
</div>



{% endblock body %}